<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <link th:replace="fragments :: page_head(${pageTitle}, 'none')" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/NewFile.css}" />
</head>
<body>
<div class="container-fluid">
	<div th:replace="navigation :: header_menu3"></div>

	<div>
			<br>
			<h6>Home</h6>
	</div>
	
	<div class="row" >
		<div class="col" th:each="cat : ${listCategories}">
			<div><img th:src="@{${cat.imagePath}}"  class="im1"/></div>
			<div class="t1">
				<a th:href="@{'/c/' + ${cat.alias}}">[[${cat.name}]]</a>
			</div>
		</div>
	</div>
	
	
	

	
	
	
	

	<footer>
		<div th:replace="navigation :: footer_menu"></div></footer>

</body>
</html>