<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:replace="fragments :: page_head(${pageTitle}, 'none')" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/NewFile.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/register_success_style.css}" />
</head>
<body th:style="'background-image:url(' + @{/images/bg1.jpg} +'); background-size: cover;'">
<div class="container-fluid">
	<div th:replace="navigation :: header_menu"></div>
	<div class="center" align="center">
   		<h1>Customer Verification</h1>
   		<h4>Congratulations! Your account has been verified.</h4>
   		<img src="images/thumsup.jpg"/>  		
  		<p><a th:href="@{/login}">Login here</a></p>   
		<div th:replace="navigation :: footer_menu" ></div>
	</div>	
</body>
</html>


		