<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> <link th:replace="fragments :: page_head('Shopping Cart', 'none')">
<meta charset="utf-8">
<meta name="viewport" content="width=devie-width">
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/NewFile.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/menu.css}" />
</head>
<body>
<div class="container-fluid">
	<div th:replace="navigation :: header_menu3"></div>
	
	
	<div class="text-center border border-secondary rounded m-3 p-3">
		<h2>Your Order has been Completed!</h2>
		<h4>A confirmation email has been sent to you.</h4>
		<h4>Kindly check your email for the details.</h4>
	</div>

	
	<div th:replace="navigation :: footer_menu"></div>
</div>	
</body>
</html>
